.drag-start{
    opacity: 0.5;
}

.resizable{
    resize: both;
    overflow: hidden;
    border: 2px lightgrey solid;
    border-radius: 5px;
}

.info {
    text-align: center;
}

#cpuUsageCollapse{
    width: 50%; 
    height: 500px;
}

#temperatureCollapse {
    width: 50%; 
    height: 300px;
}

/* #ramUsageCollapse{

} */