<a href="/computer/dashboard/<%= computer.computerID %>" role="button" class="btn btn-outline-secondary"><%= computer.computerName %> CPU :  <%= computer.CPU.CPUname %> OS : <%= computer.CPU.osName %> </a>
